.letter-container {
  padding: 1rem;
}

.letter {
  text-align: center;
  font-size: 7rem;
  width: 7rem;
  border: black solid 1px;
}

.mantra {
  padding: 1rem;
  float: right;
  font-size: 1rem;
  color: lightgray;
}
